body{
  background: linear-gradient(8deg,rgb(13, 12, 53) 0%,rgb(11, 0, 110) 11%,rgb(32, 0, 37) 100%);
}


/*-------------------------header-------------------------------------*/
.Header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: hsl(278, 90%, 8%);
  padding: 20px 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.P1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70px;
  color: rgb(250, 244, 244);
  text-decoration: none;
  font-weight: 600;
}

.Navigationbar a{
  font-family:serif;
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  margin-left: 45px;
  transition: .3s;
}

.Navigationbar a:hover{
  color:blue;
}


/*------------------------------------Home Function-----------------------------------*/
.Home{
  margin-top: 300px;
  text-align: left;
  border: 5px black;
  background: transparent;
  width: 1250px;
  margin-left: 100px;
  display: inline-block;
  padding-top: 0%;
}

.P2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

.P3{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}

.Myphoto{
  float: right;
  width: 300px;
  height: 300px;
  padding-top: 1%;
  border-radius: 50%;
  background-color: #1c0125;
}

.Button1{
  background-color: #35026f; 
  border: none;
  color: rgb(252, 252, 252);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Button1 a{
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*------------------------------------AboutMe Function-----------------------------------*/
.AboutMe{
  color: white;
  margin-top: 300px;
  text-align: center;
  border: 5px black;
  background: transparent;
  width: 1000px;
  margin-left: 250px;
  
}

.grid-container {
  color: white;
  display: grid;
  grid-template-columns: 480px 480px;
  gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  background-color: #1f013c;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 5%;
}


.P4{
  height: 70px;
  font-family: sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  margin: auto;
  width: 350px;
  box-shadow: 0 30px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*------------------------------------Skills Function-----------------------------------*/
.Skills{
  margin-top: 300px;
  margin-left: 120px;
  width: 80%;
  height: 650px;
  color: #ffffff;
  padding: 20px;
  font-family:'Times New Roman', Times, serif;
}

.Skills .Skills-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.Skills-row .Skills-column{
  flex: 1 1 4rem;
  
}

.Skills li{
  font-family:sans-serif;
  font-size: 1.5rem;
  margin: 20px 0;
  padding: 10px;
}

.bar{
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103,1)100%);
}

.html{
  width: 60%;
  animation: html 3s;
}

.css{
  width: 60%;
  animation: css 3s;
}

.java{
  width: 75%;
  animation: java 3s;
}

.c{
  width: 80%;
  animation: c 3s;
}

.microsoft{
  width: 90%;
  animation: microsoft 3s;
}

.js{
  width: 50%;
  animation: js 3s;
}

.sql{
  width: 70%;
  animation: sql 3s;
}

.english{
  width: 90%;
  animation: english 3s;
}

.sinhala{
  width: 90%;
  animation: sinhala 3s;
}

.logic{
  width: 75%;
  animation: logic 3s;
}


@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

@keyframes java{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}

@keyframes c{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes microsoft{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes js{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

@keyframes sql{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

@keyframes english{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes sinhala{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes logic{
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}

.H2{
  color: white;
  height: 70px;
  text-align: center;
  font-family:sans-serif;
  font-size: 50px;
  width: 300px;
  margin: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}

.L1{
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}



/*------------------------------------Education Function-----------------------------------*/
.Education{
  padding-top: 5%;
  background-color: transparent;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.Education .Education-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.Education-row .Education-column{
  flex: 1 1 4rem;
}

.Education-column .title{
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.Education-column .Education-box{
  border-left: .2rem solid rgb(255, 255, 255);
}

.Education-box .Education-content{
  position: relative;
  padding-left: 2rem;
}

.Education-content .content{
  background-color: transparent ;
  position:relative;
  padding: 1.5rem;
  border: .2rem solid rgb(255, 255, 255);
  border-radius: 5%;
  margin-bottom: 2rem;
}

.Education-content .content .year{
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding-bottom: .5rem;
}

.Education-content .content .year i{
  padding-right: .5rem;
}

h3{
  color: white;
}

.P5{
  color: white;
}


/*------------------------------------Services Function-----------------------------------*/
.container{
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
}

.service-wrapper{
  padding: 5% 8%;
}

.service{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HS{
  color: #353b48;
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  letter-spacing: 4px;
  background-color: rgb(4,52,83);
  background: linear-gradient(8deg,rgba(8,52,83,1) 0%,rgba(0,230,173,1) 41%,rgba(41,17,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.HS:after{
  content: " ";
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 80%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.HS span{
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #72e2ae;
  animation: anim 5s linear infinite;
}

@keyframes anim{
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: 88%;
  }
}

.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 100px;
  margin-top: 80px;
}

.card{
  height: 180px;
  width: 370px;
  background-color: #1c2335;
  padding: 3% 8%;
  border: 0.2px solid rgba(114, 226, 174, 0.2);
  border-radius: 8px;
  transition: .6s;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card:after{
  content: " ";
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  transform: rotate(50deg);
  background-color: #fff;
  height: 18px;
  filter:blur(30px);
  opacity: 0.5;
  transition: 1s;
}

.card:hover:after{
  width: 225%;
  top: -100%;
}

.card i{
  color: #72e2ae;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 2.8rem;
}

.card h2{
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.card:hover{
  background-color: transparent;
  transform: translateY(-8px);
  border-color: #00ff37;
}

.card:hover i{
  color: #00ff37;
}


/*------------------------------------ContactMe Function-----------------------------------*/
.Contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.Contact .contentt{
  max-width: 800px;
  text-align: center;
}

.Contact .contentt h2{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
  width: 350px;
  height: 65px;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}

.Contact .contentt p{
  font-weight: 300;
  color: #fff;
}

.containerr{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.containerr .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.containerr .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.containerr .contactInfo .box i{
  min-width: 60px;
  height: 60px;
  background: #0011cf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.containerr .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.containerr .contactInfo .box .text h3{
  font-weight: 500;
  color: #fcfcfc;
}

.contactForm{
  width: 40%;
  padding: 40px;
  background: rgb(9, 6, 97);
}

.contactForm h2{
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span, .contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span, .contactForm .inputBox textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
} 


/*------------------------------------Footer-----------------------------------*/
footer{
  position: relative;
  width: 93%;
  background: #010528;
  min-height: 100px;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
}

.footerIcon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.footerIcon li{
  list-style: none;
}

.footerIcon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footerIcon li a:hover{
  transform: translateY(-10px);
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}